#main{
    margin:0px;
    border-left:0px;
    padding-top:0px;
    padding-left:0px;
}
#header1{
    background-image:url(/images/header.png);
    width:962px;
    height:148px;
}
#header2{
    background:red;
    height:148px;
}
#menu{
    float:left;
    background:#979090;
    width:200px;
    height:90%;
    text-align:center;
    color:#FFFFFF;
    font-size:18px;
}
#menu a{
    font-size:20px;
    Text-decoration:none;
    Text-align:center;
    line-height: 40px;
    display:block;
}
#menu a:hover{ text-decoration:underline; }
#content{
    overflow-y: scroll;
    margin-left:200px;
    height:87%;
    background:#e8ebeb;
    text-align:center; }
#footer{
    margin-left:200px;
    background:#979090;
    height:3%;
    text-align:right;
    color:#FFFFFF;
    font-size:20px;
}
#info {
    float:left;
    text-align: right;
    background: #e8ebeb;
    width: 100%;
    height: 3.5%;
    padding-top:0.5%;
    width:99%;
}
#blog_na_glagne {
    padding-top:5%;
}
#forum{
    height: 78%;
    padding:5%;
}
#user_online{
}
#zlogen{
    padding-top:5%;
}
#vkgroup{
    padding-top:2%;
    padding-left:20%;
}
#reg{
    float:left;
    width:60%;
}
#reg_info{
    text-align:center;
}

.regfield{
    line-height: 2.5;
    text-align:right;
}
#autorization{
    width:60%;
}
body{
    margin: 0px;
}

